<html>
<head>
	<meta name='layout' content='main'/>
	<title><g:message code="springSecurity.login.title"/></title>
	<style type='text/css' media='screen'>
<%--	#login {--%>
<%--		margin: 15px 0px;--%>
<%--		padding: 0px;--%>
<%--		text-align: center;--%>
<%--	}--%>
<%----%>
<%--	#login .inner {--%>
<%--		width: 340px;--%>
<%--		padding-bottom: 6px;--%>
<%--		margin: 60px auto;--%>
<%--		text-align: left;--%>
<%--		border: 1px solid #aab;--%>
<%--		background-color: #f0f0fa;--%>
<%--		-moz-box-shadow: 2px 2px 2px #eee;--%>
<%--		-webkit-box-shadow: 2px 2px 2px #eee;--%>
<%--		-khtml-box-shadow: 2px 2px 2px #eee;--%>
<%--		box-shadow: 2px 2px 2px #eee;--%>
<%--	}--%>
<%----%>
<%--	#login .inner .fheader {--%>
<%--		padding: 18px 26px 14px 26px;--%>
<%--		background-color: #f7f7ff;--%>
<%--		margin: 0px 0 14px 0;--%>
<%--		color: #2e3741;--%>
<%--		font-size: 18px;--%>
<%--		font-weight: bold;--%>
<%--	}--%>
<%----%>
<%--	#login .inner .cssform p {--%>
<%--		clear: left;--%>
<%--		margin: 0;--%>
<%--		padding: 4px 0 3px 0;--%>
<%--		padding-left: 105px;--%>
<%--		margin-bottom: 20px;--%>
<%--		height: 1%;--%>
<%--	}--%>
<%----%>
<%--	#login .inner .cssform input[type='text'] {--%>
<%--		width: 120px;--%>
<%--	}--%>
<%----%>
<%--	#login .inner .cssform label {--%>
<%--		font-weight: bold;--%>
<%--		float: left;--%>
<%--		text-align: right;--%>
<%--		margin-left: -105px;--%>
<%--		width: 110px;--%>
<%--		padding-top: 3px;--%>
<%--		padding-right: 10px;--%>
<%--	}--%>
<%----%>
<%--	#login #remember_me_holder {--%>
<%--		padding-left: 120px;--%>
<%--	}--%>
<%----%>
<%--	#login #submit {--%>
<%--		margin-left: 15px;--%>
<%--	}--%>
<%----%>
<%--	#login #remember_me_holder label {--%>
<%--		float: none;--%>
<%--		margin-left: 0;--%>
<%--		text-align: left;--%>
<%--		width: 200px--%>
<%--	}--%>
<%----%>
<%--	#login .inner .login_message {--%>
<%--		padding: 6px 25px 20px 25px;--%>
<%--		color: #c33;--%>
<%--	}--%>
<%----%>
<%--	#login .inner .text_ {--%>
<%--		width: 120px;--%>
<%--	}--%>
<%----%>
<%--	#login .inner .chk {--%>
<%--		height: 12px;--%>
<%--	}--%>
	</style>
</head>

<body>
<%--<div id='login'>--%>
<%--	<div class='inner'>--%>
<%--		<div class='fheader'><g:message code="springSecurity.login.header"/></div>--%>
<%----%>
<%--		<g:if test='${flash.message}'>--%>
<%--			<div class='login_message'>${flash.message}</div>--%>
<%--		</g:if>--%>
<%----%>
<%--		<form action='${postUrl}' method='POST' id='loginForm' class='cssform' autocomplete='off'>--%>
<%--			<p>--%>
<%--				<label for='username'><g:message code="springSecurity.login.username.label"/>:</label>--%>
<%--				<input type='text' class='text_' name='j_username' id='username'/>--%>
<%--			</p>--%>
<%----%>
<%--			<p>--%>
<%--				<label for='password'><g:message code="springSecurity.login.password.label"/>:</label>--%>
<%--				<input type='password' class='text_' name='j_password' id='password'/>--%>
<%--			</p>--%>
<%----%>
<%--			<p id="remember_me_holder">--%>
<%--				<input type='checkbox' class='chk' name='${rememberMeParameter}' id='remember_me' <g:if test='${hasCookie}'>checked='checked'</g:if>/>--%>
<%--				<label for='remember_me'><g:message code="springSecurity.login.remember.me.label"/></label>--%>
<%--			</p>--%>
<%----%>
<%--			<p>--%>
<%--				<input type='submit' id="submit" value='${message(code: "springSecurity.login.button")}'/>--%>
<%--			</p>--%>
<%--		</form>--%>
<%--	</div>--%>
	
	<div id="login" class="content scaffold-login" role="main">
		<g:if test='${flash.message}'>
			<div class="message">${flash.message}</div>
		</g:if>
		<form action='${postUrl}' method='POST' id='loginForm' class='cssform' autocomplete='off'>
			<fieldset class="form">
				<div class="fieldcontain">
					<label><g:message code="usuario.login.label" default="" /></label>
					<span class='fheader'><g:message code="usuario.login.header" default="Login"/></span>
				</div>	
				<div class="fieldcontain ${hasErrors(bean: usuarioInstance, field: 'email', 'error')} ">
					<label for="email">
						<g:message code="usuario.email.label" default="Email" />				
					</label>					
					<g:textField name="j_username" id="username"/>					
				</div>
							
				<div class="fieldcontain ${hasErrors(bean: usuarioInstance, field: 'password', 'error')} ">
					<label for="password">
						<g:message code="usuario.password.label" default="Password" />				
					</label>
					<g:passwordField name="password" name="j_password" id="password"/>					
				</div>
				
				<div class="fieldcontain">
					<label for="remember_me">
						<g:message code="usuario.remember.me.label" default="" />				
					</label>
					<input type='checkbox' name='${rememberMeParameter}' id='remember_me' <g:if test='${hasCookie}'>checked='checked'</g:if>/>
					<g:message code="springSecurity.login.remember.me.label"/>					
				</div>
				
				<div class="fieldcontain">
					<label for="facebook">
						<g:message code="usuario.facebook.label" default="" />				
					</label>					
					<facebookAuth:connect permissions="email,user_about_me,publish_stream"/>					
				</div>				
			
			</fieldset>
									
			<fieldset class="buttons">
				<g:submitButton name="login" class="confirm" value="${message(code: 'default.button.send.label', default: 'Enviar')}" />
				<g:link class="save" controller="usuario" action="create"><g:message code="usuario.registre.label" default="Registre-se" /></g:link> 
			</fieldset>	
		</form>
	</div>

<%--</div>--%>
<script type='text/javascript'>
	<!--
	(function() {
		document.forms['loginForm'].elements['j_username'].focus();
	})();
	// -->
</script>
</body>
</html>
