/* * { margin: 0; padding: 0; border: 0 } */
/* body { background: url(bg.png) } */
/* legend { display: none } */

#apresentacao { 
/* 	width: 960px;  */
/* 	margin: 1% auto; */
/* 	overflow: hidden; */
}
	

/* h1 {  */
/* 	font: 25px 'Open Sans', Arial;  */
/* 	text-align: center;  */
/* 	color: #555;  */
/* 	text-shadow: 2px 2px 0 #ccc;  */
/* 	margin-bottom: 20px;  */
/* 	letter-spacing: -0.5px */
/* } */

/* .campos { */
/* 	width: 740px;  */
/* 	margin: 0 auto 15px;  */
/* 	overflow: hidden;  */
/* } */

/* .campos label {  */
/* 	background: #333;  */
/* 	border-radius: 6px 0 0 6px;  */
/* 	color: #f0f0f0;  */
/* 	cursor: pointer;  */
/* 	display: block;  */
/* 	height: 20px;  */
/* 	float: left;  */
/* 	font: 15px 'Open Sans',Arial; */
/* 	padding: 7px 13px; */
/* 	width: 70px; */
/* } */

#txtEndereco, #endereco {
/* 	background: #FFF; */
/* 	color: #666; */
/* 	display: block; */
/* 	float: left; */
/* 	font: 15px 'Open Sans',Arial;  */
/* 	height: 16px; */
/* 	padding: 9px; */
	width: 45%; 
}

/* .campos input[type="button"] {  */
/* 	background: #2679A5;  */
/* 	border-radius: 0 6px 6px 0; */
/*     color: #FFF; */
/*     cursor: pointer; */
/*     height: 34px; */
/*     font: 15px 'Open Sans',Arial; */
/*     padding: 2px 13px 6px; */
/*     width: 150px; */

/*     -webkit-transition: background .2s ease-in; */
/*     -moz-transition: background .2s ease-in; */
/*     -ms-transition: background .2s ease-in; */
/*     -o-transition: background .2s ease-in; */
/*     transition: background .2s ease-in; */
/* } */

/* .campos input[type="button"]:hover { background: #12587C } */

#mapa { 
	border: 10px solid #ccc;;
	width: 80%;
   	height: 400px;
	margin-top: 20px;
   	margin-left:auto;
   	margin-right:auto;
   	margin-bottom:20px;
   	padding: 0px
}

/* input[type="submit"] { */
/* 	background: #2679A5;  */
/* 	border-radius: 6px; */
/*     color: #FFF; */
/*     cursor: pointer; */
/*     display: block; */
/*     margin: 0 auto; */
/*     font: 20px 'Open Sans',Arial; */
/*     padding: 7.5px 15px; */
/*     width: 250px; */

/*     -webkit-transition: background .2s ease-in; */
/*     -moz-transition: background .2s ease-in; */
/*     -ms-transition: background .2s ease-in; */
/*     -o-transition: background .2s ease-in; */
/*     transition: background .2s ease-in; */
/* } */

/* input[type="submit"]:hover { background: #12587C } */

/* .autores { background: #e5e3df; bottom: 0; border-radius: 5px 5px 0 0; padding: 5px 10px; position: fixed; left: 38%; width: 345px } */
/* .autores p { color: #333; font: 13px Tahoma, Arial } */
/* .autores p a { color: #333;	text-decoration: none } */
/* .autores p a:hover { text-decoration: underline } */


/* =============== Estilos do autocomplete =============== */
.ui-autocomplete { 
	background: #fff; 
	border-top: 1px solid #ccc;
	cursor: pointer; 
	font: 15px 'Open Sans',Arial;
	margin-left: 3px;
	width: 493px !important;
	position: fixed;
}

.ui-autocomplete .ui-menu-item { 
	list-style: none outside none;
	padding: 7px 0 9px 10px;
}

.ui-autocomplete .ui-menu-item:hover { background: #eee }

.ui-autocomplete .ui-corner-all { 
	color: #666 !important;
	display: block;
}